/* @import "tailwindcss"; */
$animation-duration: 5s;
$car-width: 300px;
$carbon-fiber-width: calc($car-width / 60);
$car-color: 	#A9BE70;

body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Ensures full viewport height */
  flex-direction: column; /* Stacks elements vertically */
  margin: 0;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: auto;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
}

img {
  width: 300px;
  aspect-ratio: 4/3;
  margin: auto;
  display: block;
}

.car {
  width: $car-width;
  aspect-ratio: 4/3;
  background-color: lightgrey;
  margin: auto;
  display: block;
  position: relative; 
  animation: move-left-right $animation-duration ease-in-out infinite;
}

@keyframes move-left-right {
  0% {
    left: -15%; 
  }
  50% { 
    left: 15%; 
  }
  100% {
    left: -15%; 
  }
}

.wheel {
  position: absolute;
  width: 17%;
  height: 35%;
  background-color: rgb(6, 4, 27);
  border-radius: 15%;
  top: 56%;
}

.wheel.left {
  left: 5%;
}

.wheel.right {
  right: 5%;
}

.frontbumper {
  position: absolute;
  width: 90%;
  height: 35%;
  /* background-color: $car-color; */
  left: 5%;
  top: 52%;
}

.grill {
  opacity: 1;
  position: absolute;
  width: 15.5%;
  height: 80%;
  background-color: black;
  top: 10%;
}

.grill.left {
  border-radius: 15% 20% 20% 30%;
  border-bottom-left-radius: 20% 70%;
  border-top-left-radius: 20% 20%;
  left: 34.3%;
}

.grill.right {
  border-radius: 20% 15% 30% 20%;
  border-bottom-right-radius: 20% 70%;
  border-top-right-radius: 20% 20%;
  right: 34.3%;
}

.headlight {
  position: absolute;
  width: 22%;
  height: 74%;
  background-color: darkslategrey;
  top: 10%;
  border-radius: 3% 10% 10% 3%;
  border-width: 2.5px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
}

.headlight.left {
  left: 9.5%;
  transform: rotateY(0deg);
}

.headlight.right {
  right: 9.5%;
  transform: rotateY(180deg);
}

.lightbulb {
  position: absolute;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  border-width: 2.5px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
}

.lightbulb.outer {
  height: 117%;
  left: 3%;
  top: -10%;
}

.lightbulb.inner {
  height: 120%;
  right: 7%;
  top: -12%;
}

.blinker {
  position: absolute;
  width: 8%;
  height: 74%;
  background-color: orange;
  top: 10%;
  border-width: 2.5px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
}

.blinker.left {
  left: 2%;
  border-top-left-radius: 50% 90%;
  border-bottom-left-radius: 20%;
}

.blinker.right {
  right: 2%;
  border-top-right-radius: 50% 90%;
  border-bottom-right-radius: 20%;
}

.toplip {
  position: absolute;
  width: 100%;
  height: 42%;
  /* background-color: green; */
  top: 0%;
}

.hood {
  position: absolute;
  width: 74%;
  height: 21%;
  background-color: $car-color;
  top: 33.5%;
  left: 13%;
  border-radius: 40% 40% 3% 3%;
  border: 2px solid black;
  border-bottom: 0;
  box-sizing: border-box;
}

.hoodline {
  position: absolute;
  width: 30.1%;
  height: 100%;
  top: 36%;
  background-color: transparent;
  border-top: 2px solid black;
  border-radius: calc($car-width / 2) / calc($car-width / 10);
}

.hoodline.left {
  left: 4%;
  rotate: 70deg;
}

.hoodline.right {
  right: 4%;
  rotate: -70deg;
}

.hoodline.center {
  left: 27%;
  top: 90%;
  width: 46%;
  border-top: 2.5px solid black;
  border-radius: calc($car-width / 2) / calc($car-width / 15);
}

.hoodline.bottomleft {
  left: -9.3%;
  top: 58%;
  width: 42%;
  rotate: 180deg;
  border-radius: calc($car-width / 11.5384) / calc($car-width / 5);
  border-bottom-right-radius: 10%;
  border-top-right-radius: 40%;
}

.hoodline.bottomright {
  right: -9.3%;
  top: 58%;
  width: 42%;
  rotate: 180deg;
  border-radius: calc($car-width / 11.5384) / calc($car-width / 5);
  border-bottom-right-radius: 10%;
  border-top-right-radius: 40%;
  transform: rotateY(180deg);
}

.windshield {
  position: absolute;
  width: 74%;
  height: 75%;
  background-color: lightblue;
  top: -11%;
  left: 13%;
  border: 3px solid black;
  box-sizing: border-box;
  border-top-left-radius: 20% 200%;
  border-top-right-radius: 20% 200%;
  border-bottom-left-radius: 55%;
  border-bottom-right-radius: 55%;
  transform: perspective(calc(10cm * ($car-width / 300px))) rotateX(60deg) scaleX(87%);
}

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: shake-left-right $animation-duration ease-in-out infinite;
}

@keyframes shake-left-right {
  0% {
    transform: rotate(-1.5deg) perspective(1mm) scaleX(101%);
  }
  50% { 
    transform: rotate(1.5deg) perspective(1mm) scaleX(99%);
  }
  100% {
    transform: rotate(-1.5deg) perspective(1mm) scaleX(101%);
  }
}

.bumper {
  position: absolute;
  width: 10%;
  height: 26.5%;
  background-color: black;
  top: 38%;
  box-sizing: border-box;
  border-radius: 20%;
  clip-path: polygon(0% 100%, 5% 44%, 9% 40%, 46% 25%, 50% 21%, 57% 15%, 65% 10%, 100% 0%, 100% 100%);
}

.bumper.left {
  left: 5.5%;
}

.bumper.right {
  right: 5.5%;
  transform: rotateY(180deg);
}

.carbon-fiber {
  background-color: olivedrab;
  background: repeating-linear-gradient(45deg, black 5%, $car-color 5%, black 5%, $car-color $carbon-fiber-width);
}

.innertoplip {
  position: relative;
  width: 95.6%;
  height: 100%;
  top: 5%;
  margin: auto;
  align-self: center;
  background-color: $car-color;
  border-radius: 50% 50% 10% 10%;
  border: 0px solid transparent;
  border-bottom: 2px solid black;
}

.hood-placer {
  position: absolute;
  width: 74%;
  height: 20%;
  top: 33.5%;
  left: 13%;
}